<!DOCTYPE html>
<meta charset=utf-8>
<title>IATed</title>
<style>
</style>

<div id=body>
  <h1>It's All Text! editor daemon</h1>

  <dl>

    <dt>Chrome</dt>
    <dd>Link to plugin for Chrome</dd>

    <dt>Firefox</dt>
    <dd>Link to plugin for Chrome</dd>

  </dl>
</div>