<!DOCTYPE html>
<meta charset=utf-8>
<title>Authorize IATed</title>
<style>
</style>

<div id=body>
  <h1>Authorize IATed</h1>

  <form method=post>
    <input type=text name=onetime />
    <input type=submit name="Authorize!" />
  </form>

  <pre>
  <%= params.inspect %>
  </pre>

</div>